<div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
    <li>HTML5 Boilerplate</li>
    <li>Handlebars {{> partial}}</li>
    <li>Browserify</li>
    <li>Sass</li>
  </ul>

</div>